<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylsheet" href="/css/style.css"/>

    <title>Mercado liebre</title>
</head>

<body>
    <header>
      <h1>  <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
      </h1>
     <p>Lugar para poner la barra de búsqueda</p> 
<p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
<ul>
    <li><a href="#">Creá tu cuenta</a></li>
    <li><a href="#">Ingresá</a></li>
    <li><a href="#">Mis compras</a></li>
</ul>
      </nav>
    </header>
    <main>
<section>
    <h2>Basado en tu última visita</h2>
<article>
    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
    <div>
<p>$6,770</p>
<p>40% off</p>
<h3>Cafetera Moulinex</h3>

<article>
    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
    <div>
<p>$230.000</p>
<p>20% off</p>
<h3>Macbook pro 2019</h3>

    </div>
</article>
</section>

<section>
    
</section>
    </main>
</body>
</html>